@font-face {
  font-family: "Poppins";
  src: url("https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrLPTed3FBGPaTSQ.ttf") format("truetype"); /* Regular 400 */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLFzjBS1.ttf") format("truetype"); /* Semi-bold 600 */
  font-weight: 600;
  font-style: normal;
}
