.aboutMe {
  width: 280px;
  margin: 0 auto;
  &__imgBox {
    display: none;
  }
  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: $c-gray;
    margin-bottom: 30px;
  }
  &__button {
    font-weight: 600;
    font-size: 16px;
    color: #F2F2F2;
    width: 100%;
    height: 60px;
    background-color: $c-gray;
    margin-top: 25px;
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {

  .aboutMe {
    width: 714px;
    margin: 0 auto;
    display: flex;
    &__contentBox {
      width: 342px;
      margin-right: 30px;
    }
    &__title {
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    &__text {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: $c-gray;
      margin-bottom: 30px;
    }
    &__button {
      font-weight: 600;
      font-size: 16px;
      color: #F2F2F2;
      width: 100%;
      height: 60px;
      background-color: $c-gray;
      margin-top: 25px;
      margin-bottom: 100px;
    }
    &__imgBox {
      width: 342px;
      height: 440px;
      display: block;
    }
    &__img {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (min-width: 1201px) {

  .logo {
    box-sizing: border-box;
    border: solid 1px #344F10;
    border-radius: 40px;
    height: 50px;
    width: 50px;
  }

.aboutMe {
  width: 1180px;
  margin: 0 auto;
  display: flex;
  &__contentBox {
    margin-left: 100px;
    width: 380px;
    margin-right: 120px;
  }
  &__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 5%;
  }
  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $c-gray;
    margin-bottom: 30px;
  }
&__button {
  font-weight: 600;
  font-size: 16px;
  color: #F2F2F2;
  width: 280px;
  height: 60px;
  background-color: $c-gray;
  margin-top: 25px;
  margin-bottom: 100px;
}
&__imgBox {
  width: 580px;
  height: 658px;
  display: block;
}
&__img {
  width: 100%;
  height: 100%;
}
}
}
