.footer {
  position: sticky;
  margin: 0 auto;
  background-color: $c-green;
  width: 100vw;
  padding-top: 30px;
  padding-bottom: 40px;
  &__content {
    width: 280px;
    height: 100%;
    margin: 0 auto;
  }
  &__nav {
    margin-bottom: 20px;
    width: 280px;
    &-social {
      display: flex;
      margin-top: 20px;
      margin-bottom: 40px;
      &-img {
        width: 20px;
        height: 20px;
        margin-right: 20px;
      }
    }
    &-link {
      font-size: 18px;
      font-weight: 600;
      line-height: 27px;
      color: $c-beige;
      text-decoration: none;
      margin-bottom: 11px;
    }
  }
  &__contact {
    margin-bottom: 30px;
    &-link {
      font-weight: 400;
      font-size: 14px;
      color: $c-beige;
      text-decoration: none;
    }
    &-linkBox {
      margin-bottom: 10px;
    }
  }
  &__rightsBox {
    width: 200px;
    margin: 0 auto;
  }
  &__rights {
    font-weight: 600;
    font-size: 14px;
    color: $c-beige;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {

  .footer {
    position: sticky;
    margin: 0 auto;
    background-color: $c-green;
    width: 100vw;
    padding-top: 30px;
    padding-bottom: 40px;
    &__content {
      display: flex;
      width: 280px;
      height: 100%;
      margin: 0 26px;
    }
    &__nav {
      margin-bottom: 20px;
      width: 280px;
      &-link {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        color: $c-beige;
        text-decoration: none;
        margin-bottom: 20px;
        margin-right: 278px;
      }
      &-social {
        display: flex;
        margin-top: 20px;
        margin-bottom: 40px;
        &-img {
          width: 20px;
          height: 20px;
          margin-right: 20px;
        }
      }

    }
    &__contact {
      margin-bottom: 30px;
      &-link {
        font-weight: 400;
        font-size: 14px;
        color: $c-beige;
        text-decoration: none;
      }
      &-linkBox {
        margin-bottom: 10px;
      }
    }
    &__rightsBox {
      width: 200px;
      margin: 26px;
    }
    &__rights {
      font-weight: 400;
      font-size: 14px;
      color: $c-beige;
      text-align: center;
    }
  }
}

@media screen and (min-width: 1201px) {
  .footer {
    position: sticky;
    margin: 0 auto;
    background-color: $c-green;
    width: 100vw;
    padding-top: 30px;
    padding-bottom: 40px;
    &__content {
      width: calc(100% - 260px);
      display: flex;
      height: 100%;
      margin: 0 130px;
    }
    &__nav {
      margin-bottom: 20px;
      width: 100%;
      display: flex;
      &-social {
        display: flex;
        margin-top: 0;
        margin-bottom: 40px;
        &-img {
          width: 20px;
          height: 20px;
          margin-right: 20px;
        }
      }

      &-link {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        color: $c-beige;
        text-decoration: none;
        margin-bottom: 20px;
        margin-right: 40px;
      }
    }
    &__contact {
      margin-bottom: 30px;
      &-linkBox {
        margin-bottom: 10px;
      }

      &-link {
        font-weight: 400;
        font-size: 14px;
        color: $c-beige;
        text-decoration: none;
      }
    }
    &__rightsBox {
      width: 273px;
      margin: 26px;
      margin-left: 130px;
    }
    &__rights {
      font-weight: 400;
      font-size: 18px;
      color: $c-beige;
      text-align: start;

    }
  }
}
